  .snackbar{
    width: 15%;
    position: fixed;
    bottom: 30px;
    left: 2%;
    background-color: #5bc0de;
    z-index: 9999 !important;
    height: auto;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    border-radius: 2px;
    -webkit-animation: fadein 0.3s;
    animation: fadein 0.3s;
    display: none;
  }
/*  .app-fade{
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }*/
  .snackbar-text{
    color: #fff;
    font-size: 11pt;
    font-weight: 600;
  }
  
     /*  END OF NEW STYLES*/
	@-webkit-keyframes fadein {
	  from {bottom: 0; opacity: 0;} 
	  to {bottom: 30px; opacity: 1;}
    }
    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }