

.login-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1081 !important;
    background-color: #fff;
    box-shadow: 0em .09em .09em .09em rgba(0, 0, 0, .175);
    width: 79%;
}

.wrapper{
    border: .05em solid rgba(0, 0, 0, .175);
    padding: 40px;
    border-radius: 5px;
}