
.user-image{
    border: .05em solid lightgray;
    width: 60px;
    height: 60px;
    padding-top: 14px;
    border-radius: 30px;
}

.inside-text{
    width: 60px;
    height: 60px;
    color: #fff
}