

<div class="app-nav nav navbar fixed-top bg-white">

    <div class="row" style="padding-top: 10px; width: 100%; height: 60px;">
        <div class="col-md-3">
       
        </div>

        <div class="col-md-4">
            <form class="search">
                <div class="input-group">
                    <span class="input-group-prepend no-bg">
                        <span class="material-icons-outlined i-size-24 input-group-text no-bg">
                            search
                        </span>
                    </span>
                    <input type="text" name="search" placeholder="Search" class="form-control">
                </div>
            </form>
        </div>

        <div class="col-md-5">
            <app-navbar-items></app-navbar-items>
        </div>

    </div>

</div>