

<div class="cover">

    <div class="main-wrap">
        <div class="card no-border">
            <div class="card-header no-border">
                <div class="media">
                    <div class="media-body">
                        <span class="app-max-text">
                            {{headerText}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body no-border">
            <ng-content></ng-content>
        </div>

    </div>

</div>
