
.upper-features{
    height: 50px;
    width: 58%;
    position: fixed;
    left: 21.1%;
    top: 8.8%;
    z-index: 1081 !important;
    border-bottom: .05em solid rgba(211, 211, 211, .5);
    border-top: .05em solid rgba(211, 211, 211, .5);
    background-color: #fff;
}


.feature-btns{
    margin-right: 2%;
    margin-left: 2%;
}

.dropdown-menu{
    width: 300px;
}