aniso8601
backpack
blinker
cffi
cleo
click
cryptography
Faker
Flask
Flask-Cors
Flask-JWT
Flask-JWT-Extended
flask-orator
Flask-RESTful
inflection
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
orator
pastel
pendulum
pyaml
pycparser
Pygments
PyJWT
pylev
PyMySQL
python-dateutil
pytz
pytzdata
PyYAML
simplejson
six
text-unidecode
tzlocal
Werkzeug
wrapt
